/*Typography*/

h1 {
    font-family: $playfair;
    color: $white;
    font-size: $x-large;
    font-style: italic;
}

h2 {
    font-family: $playfair;
    text-align: center;
    color: $eerie-black;
    font-style: italic;
}

span {
    font-size: $small;
}



